@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #04105f;
	--dark-color-b: #390b6d;
	--light-color: #b2b5ce;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--background-color: #26262c;
}

* {
	box-sizing: border-box;
	margin: 30;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	background: var(--background-color);
	margin: 10px;
}
h5 {display: inline;}

ul {
	font-size: 16px;
	list-style: none;
}

a {
	text-decoration: none;
}
.no-gutters{
	margin-right:  0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}	

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

 .results-container,
.youtube-playlist-container{
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.playlist{
	overflow: hidden;
	background: white;

}

#playlist-main{
	overflow-x: scroll;
	height: auto;
	width: auto;
	/*This keeps the playlist from making another line */
	white-space: nowrap;
	
}
.tab-content{
	width: 500px;
	display: flex;
}

#chat-tab-data{
	width: 100%;
}
.playlist-result{
	display: inline-block;
	width: 320px;
	height: 180px;	
	overflow: visible;
	vertical-align: top;
	opacity: 90%;
	
}
.playlist-first{
	top: -230px;
	position: relative;
	background-color: black;
	color: white;

}
.playlist-text{
	background-color: grey;
	position: relative;
	width: 320px;
	top: 0px;
	color:white;
	white-space: pre-wrap;
	top: -80px;
	vertical-align: top;
	max-height: 50px;
	overflow: hidden;
	opacity: 0%;
	transition: 1.0s;
}

.playlist-result:hover > .playlist-text{
	opacity: 80%;
}

.flex-container{
	display: flex;
}


.iframe-container{
	margin-left: 30px;
	max-width: 1280px;
	flex: 4;
}

.chat-container{
	max-width: 500px;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	
	
}
.chat-header{
	background: var(--dark-color-a);
	color: rgb(255, 255, 255);
	height: 50px;
	padding: 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: absolute;
}

.results-header, .playlist-header {
	background: var(--dark-color-a);
	color: rgb(255, 255, 255);
	height: 50px;
	padding: 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	
}

.chat-main, .results-main {
	padding-top: 50px;
	max-width: 1100px;
	overflow: hidden;
	height:(100% - 200px);
	display: flex;
	padding-bottom: 40px;
	
}
.tab-content{
	display: flex;
	
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	float: left;
	
	
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages, .results-main{
	padding: 30px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding:  0px;
	background-color: var(--dark-color-a);
	position: absolute;
	bottom: 0;
	width: 100%;
	
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.searchResult{
	font-size: 24px;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text']  {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main input[type='password']  {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}
.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}